[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/TaskList.vim"]
	path = bundle/TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-one"]
	path = bundle/vim-one
	url = https://github.com/rakr/vim-one
[submodule "bundle/vim-textobj-python"]
	path = bundle/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
