[submodule ".vim/bundle/vim-distinguished"]
	path = .vim/bundle/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished
[submodule ".vim/bundle/papercolor-theme"]
	path = .vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
